<!DOCTYPE html>
<html>
<head>
  <title>Simple Log</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <meta name="apple-mobile-web-app-capable" content="yes" /> 

  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/jquery.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <form action="#" id="new">
    <label for="exercise">Exercise</label>
    <input name="exercise" autofocus>
    <label for="weight">Weight</label>
    <input name="weight" type="number" min="0">
    <label for="reps">Reps</label>
    <input name="reps" type="number" min="0">
    <div>
      <input type="submit">
    </div>
  </form>

  <h2>Sets</h2>
  <ul id="sets"></ul>

  <script type="x-template" id="date-header">
    <li class="date">
      <strong><%= date %></strong>
    </li>
  </script>
  <script type="x-template" id="list-template">
    <li class="set">
      <strong><%= exercise %>:</strong> <%= weight %> X <%= reps %>
    </li>
  </script>
</body>
</html>
